<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login-register.css" rel="stylesheet" />
    <title>login</title>
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Site<span>Random</span></div>
    </div>
    <br>
    <form class="login" method="post" action="/login">
        <input type="text" placeholder="username" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>

</html>